altair
attrs
blinker
Bottleneck
build
cachetools
certifi
charset-normalizer
click
colorama
dpcpp-cpp-rt
gitdb
GitPython
idna
intel-cmplr-lib-rt
intel-cmplr-lib-ur
intel-cmplr-lic-rt
intel-opencl-rt
intel-openmp
intel-sycl-rt
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mkl
mkl-service
mkl_fft
mkl_random
narwhals
numexpr
numpy
packaging
pandas
pillow
pip-tools
protobuf
pyarrow
pydeck
Pygments
pyproject_hooks
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipysetuptools
six
smmap
streamlit
tbb
tcmlib
tenacity
threadpoolctl
toml
tomli
tornado
typing_extensions
tzdata
umf
urllib3
watchdog
wheel
xgboost
